[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-dotenv = "*"
sqlalchemy = "*"
alembic = "*"
bcrypt = "*"

[dev-packages]
babel = "*"
doit = "*"
sphinx = "*"
flake8 = "*"
pydocstyle = "*"
black = "*"
isort = "*"
pre-commit = "*"

[scripts]
flake8 = "flake8 ."
pydocstyle = "pydocstyle ."
black = "black ."
isort = "isort ."

[requires]
python_version = "3.10"
