[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-dotenv = "*"
sqlalchemy = "*"
alembic = "*"

[dev-packages]
babel = "*"
doit = "*"
sphinx = "*"
flake8 = "*"
pydocstyle = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.10"
