<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('Макет Vocabulary Builder') }}</title>
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
</head>
<body>
<header>
    <div class="logo">Vocabulary Builder</div>
    <nav>
        <ul>
            <li><a href="#test">{{ _('Тесты') }}</a></li>
            <li><a href="#favorites">{{ _('Избранное') }}</a></li>
        </ul>
    </nav>
    <button class="login-btn">{{ _('Вход/Регистрация') }}</button>
</header>
<div id="language-selector">
    <form id="language-form" action="/" method="get">
        <label>{{ _('Выберите язык:') }}</label>
        <a href="/?language=ru"><button type="button" {% if language == 'ru' %}disabled{% endif %}>Русский</button></a>
        <a href="/?language=fr"><button type="button" {% if language == 'fr' %}disabled{% endif %}>Français</button></a>
    </form>
</div>

<div id="main-content">
    <h1>{{ _('Улучши свой английский.') }}</h1>
    <button id="new-word-btn">{{ _('Хочу узнать новое слово!') }}</button>
    <div id="word-display">
        <h2>{{ _('Слово для изучения:') }} <span id="word">{{ word }}</span></h2>
        <p>{{ _('Пример использования (англ.):') }} <span id="context">{{ context }}</span></p>
        <p>{{ _('Пример использования (рус.):') }} <span id="translated_context">{{ translated_context }}</span></p>
    </div>
</div>

<script src="{{ url_for('static', path='/js/new_word.js') }}"></script>
</body>
</html>
