.footer {
    padding: var(--box-padding);
}

.gamma1 .footer {
    color: var(--gamma1-color);
    background-color: var(--gamma1-bg);
}

.gamma2 .footer {
    color: var(--gamma2-color);
    background-color: var(--gamma2-bg);
}

.footer-content {
    max-width: var(--page-max-width);
    margin: auto;
}
