.header {
    padding: calc(var(--box-padding) / 2) var(--box-padding);
}

.gamma1 .header {
    color: var(--gamma1-color);
    background-color: var(--gamma1-bg);
    box-shadow: 0 2px 10px var(--gamma1-shadow-color);
}

.gamma2 .header {
    color: var(--gamma2-color);
    background-color: var(--gamma2-bg);
    box-shadow: 0 2px 10px var(--gamma2-shadow-color);
}

.header-content {
    max-width: var(--page-max-width);
    margin: auto;
}

.logo {
    width: var(--logo-width);
    height: var(--logo-height);
    background-image: url('../images/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.site-title {
    font-size: var(--site-title-font-size);
}

@media (max-width: 480px) {
    .header-content {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
