.greeting {
    text-align: center;
}

.greeting h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.greeting p {
    font-size: 1.2em;
    color: #666;
    margin: 0;
}
#changing-text {
    display: inline-block;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.gamma2 .greeting p {
    color: #999;
}

#changing-text.fade-out {
    opacity: 0;
}

#changing-text.fade-in {
    opacity: 1;
}

.hidden {
    display: none;
}
