.main-container {
    max-width: calc(var(--page-max-width) + var(--main-content-margin) * 2);
    margin: auto;
    width: 100%;
}

.main-content {
    margin: var(--main-content-margin);
}

.text-card {
    min-width: 160px;
    max-width: var(--page-min-width);
}

.gamma1 .text-card {
    background-color: var(--gamma1-text-card-bg);
}

.gamma2 .text-card {
    background-color: var(--gamma2-text-card-bg);
}

.modal-container {
    margin: auto;
    width: 80%;
    min-width: calc(var(--page-min-width) * 0.8);
    max-width: var(--page-min-width);
}
