.word-card {
    font-family: 'Arial', sans-serif;
}

.word-card__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.word-card__divider--header {
    height: 3px;
    margin: 15px 0;
}

.gamma1 .word-card__divider--header {
    background-color: var(--blue-color);
}

.gamma2 .word-card__divider--header {
    background-color: var(--blue-color);
}

.word-card__divider--meaning {
    height: 2px;
    margin: 15px 0;
}

.gamma1 .word-card__divider--meaning {
    background-color: var(--gw-color);
}

.gamma2 .word-card__divider--meaning {
    background-color: var(--grey-color);
}

.word-card__word-container {
    display: flex;
    align-items: center;
}

.word-card__word {
    font-size: 24px;
    font-weight: bold;
}

.word-card__star {
    width: 24px;
    height: 24px;
    background-size: cover;
    cursor: pointer;
    margin-left: 10px;
    transition: background-image 0.1s;
}

.gamma1 .word-card__star {
    background-image: url('../images/star-empty.svg');
}

.gamma2 .word-card__star {
    background-image: url('../images/star-empty-white.svg');
}

.word-card__star--active {
    background-image: url('../images/star-filled.svg');
}

.word-card__part-of-speech {
    font-size: 14px;
    margin-top: 5px;
}

.gamma1 .word-card__part-of-speech {
    color: var(--gamma1-addition-color);
}

.gamma2 .word-card__part-of-speech {
    color: var(--gamma2-addition-color);
}

.word-card__transcription-audio {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.word-card__transcription {
    font-size: 16px;
    font-style: italic;
    margin-right: 10px;
}

.gamma1 .word-card__transcription {
    color: var(--gamma1-addition2-color);
}

.gamma2 .word-card__transcription {
    color: var(--gamma2-addition2-color);
}

.word-card__audio-button {
    font-size: 20px !important;
}

.word-card__meanings-list {
    padding-left: 20px;
    list-style-type: decimal;
    margin: 0;
}

.word-card__meaning {
    font-size: 18px;
    margin-bottom: 10px;
}

.word-card__examples-label {
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 3px 5px;
    margin-bottom: 10px;
}

.gamma1 .word-card__examples-label {
    background-color: var(--golden-color);
}

.gamma2 .word-card__examples-label {
    background-color: rgb(161, 147, 0);
}

.word-card__examples-list {
    padding-left: 20px;
    list-style-type: disc;
    margin: 0;
}

.word-card__examples-list li {
    margin-bottom: 10px;
}

.word-card__example {
    margin: 5px 0;
}

.word-card__example-translation {
    margin: 5px 0;
}

.gamma1 .word-card__example-translation {
    color: var(--gamma1-addition-color);
}

.gamma2 .word-card__example-translation {
    color: var(--gamma2-addition-color);
}
