<!-- templates/footer.html -->
<div class="gamma2">
    <footer class="footer">
        <div class="footer-content flex-column justify-content-start align-items-center with-gap">
            <p class="font-size-smaller font-color-addition text-center margin-top-0 margin-bottom-0">
                &copy; 2024 Vocabulary Builder. {{ _('Все права защищены.') }}
            </p>
            <nav class="flex-row justify-content-evenly align-items-center flex-wrap with-gap2">
                <a href="https://github.com/ilystsov/vocabulary-builder" class="link">GitHub</a>
                <a href="mailto:lystsov.ilya@gmail.com" class="link">{{ _('Обратная связь') }}</a>
            </nav>
        </div>
    </footer>
</div>
